
//Media breakpoints
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1200px;
$lgplus: 1299.98px;

//Colors
$green:#00d084;
$dark_green: #325e3b;
$red: #ef505f;
$dark_red: #cf2e2e;
$bcg_blue: #e5eef6;
$light_blue: #035ba9;
$blue: #05385e;
$dark_blue: #022138;

//Font weights
$bold: 700;
$semi_bold: 600;
$regular: 400;
$light: 300;
$extra_light: 200;

