/*!****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/admin/react-admin/scss/react-admin.scss ***!
  \****************************************************************************************************************************************************************************************************************************************/
#admin-settings-form {
  max-width: 400px;
}
#admin-settings-form .form-row {
  margin: 0.5em 0;
}
/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/admin/react-cpt-metabox/scss/react-cpt-metabox.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************/
#meta-settings-form {
  max-width: 400px;
  margin: 2em 0;
}
#meta-settings-form .form-row {
  margin: 0.5em 0;
}

#test-plugin-cpt-metabox .selected-files {
  background-color: #eee;
  padding: 1em;
  border-radius: 5px;
  margin: 1em 0;
}

.media-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em 0;
  background-color: #eee;
  border-radius: 5px;
}
.media-gallery div {
  padding: 1em;
}

.media-item {
  width: 150px;
  height: 150px;
  text-align: center;
}
/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/admin/scss/admin.scss ***!
  \**********************************************************************************************************************************************************************************************************************/
#test-plugin-cpt-metabox input[type=text],
#test-plugin-admin input[type=text] {
  padding: 16.5px 14px;
  line-height: 1;
  min-height: unset;
  outline: 0;
  border: 0;
  height: 100%;
}
#test-plugin-cpt-metabox input[type=text]:focus,
#test-plugin-admin input[type=text]:focus {
  border-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: 0;
}
#test-plugin-cpt-metabox input[type=checkbox],
#test-plugin-cpt-metabox input[type=radio],
#test-plugin-admin input[type=checkbox],
#test-plugin-admin input[type=radio] {
  height: 100%;
}
